:root {
    --main__font :"NanumSquareNeo";
    --gmarket__font : "GmarketSans";
    --nexon__font : "NanumSquareNeo";

    --font__size : "16px";

    --color__black : #000;
    --color__white : #fff;

    --bg__gray : #eee;
    --bg__gray2 : #e0e0e0;
    --bg__gray3 : #d4d4d4;
    --bg__gray4 : #dbdbdb;
    --bg__black : #000;
    --bg__red: #f00;
}

@media(max-width: 800px){
    :root {
        --font__size : "14px";
    }
}